<!-- HTML for logo text -->
<span class="miniblogger-logo">
  <span class="m1">M</span>
  <span class="m2">i</span>
  <span class="m3">n</span>
  <span class="m4">i</span>
  <span class="m5">B</span>
  <span class="m6">l</span>
  <span class="m7">o</span>
  <span class="m8">g</span>
  <span class="m9">g</span>
  <span class="m10">e</span>
  <span class="m11">r</span>
</span>
